<nb-card>
    <nb-card-header style="display: flex; justify-content: space-between;">
        Actualizar estado
        <span (click)="fnCloseModal()" nbTooltip="Cerrar">
            <i class="fas fa-times cursor-pointer text-danger"></i>
        </span>
    </nb-card-header>
    <nb-card-body>
        <div class="row ml-0 mr-0">
          <form (ngSubmit)="fnEditData(editStateForm)" style="width: 350px;" #editStateForm="ngForm" aria-labelledby="title">
            <div class="col-12 pl-0 pr-0">
              <div class="form-group">
                <label for="input-stateName">Nombre estado:&nbsp;&nbsp;<span class="text-danger cursor-pointer" nbTooltip="Campo obligatorio">*</span></label>                                         
                <input 
                  nbInput 
                  fullWidth 
                  #stateName="ngModel"
                  [(ngModel)]="state.name"
                  [status]="'info'"
                  [required]="true"
                  name="stateName" 
                  id="input-stateName" 
                  autofocus 
                  type="text"
                  class="form-control"
                  placeholder="Ingrese nombre estado"
                  style="height: 45px;">
              </div>
            </div>
            <div class="col-12 pl-0 pr-0">
              <div class="form-group">
                <label for="input-stateDescription">Descripci&oacute;n estado:&nbsp;&nbsp;<span class="text-danger cursor-pointer" nbTooltip="Campo obligatorio">*</span></label>                                         
                <!-- <input 
                  nbInput 
                  fullWidth 
                  [required]="true"
                  name="profileName" 
                  id="input-profileName" 
                  autofocus  
                  type="text"
                  class="form-control"
                  placeholder="Ingrese nombre estado"
                  style="height: 45px;"> -->
                  <textarea 
                      #stateDescription="ngModel"
                      [(ngModel)]="state.description"
                      [status]="'info'"
                      class="form-control" 
                      name="stateDescription" 
                      id="input-stateDescription" 
                      nbInput 
                      fullWidth 
                      placeholder="Ingrese una descripción del estado">
                  </textarea>
              </div>
            </div>
            <br>
            <button 
                nbButton 
                fullWidth 
                type="submit"
                [class.btn-pulse]="submitted"
                style="background-color: #3366ff; border-color: #3366ff; color: white;">
                Guardar
            </button>
            &nbsp;&nbsp;&nbsp;
            <button 
                nbButton 
                fullWidth
                status="info" 
                style="background-color: gray; border-color: gray; color: white;"
                (click)="fnCancelAddData()">
                Cancelar
            </button>
          </form>
        </div>
    </nb-card-body>
</nb-card>